.mainDiv {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%; 
}

.alignLabel {
    padding-left: 5px;
    text-indent: 5px;   
    font-size: x-small; 
}

.alignCheckBox {
    width: 10px;
    height: 10px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

ul {
    display: block;
    border: 1px solid darkgrey;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 160px;
    text-align: left;
    font-size: small;
}

.ulOwner {
    height:100px; 
    overflow:hidden; 
    overflow-y:scroll;
}
