<kendo-dialog *ngIf="displayWaitingDialog">
    <img class="waitingDialog" src="../../../assets/images/loader2.gif" alt="../../../assets/images/loader2.gif">
</kendo-dialog>
<div class="container-fluid">
    <div class="spacer"></div>
    <div class="form-header">
        Lastest Reading for all Bins
    </div>
    <div class="spacer"></div>
    <div class="row no-gutters">
        <div class="col text-right">
            <input [(ngModel)]="readingsSearchStr" type="text" size="200" placeholder=" Search by any field ..." (keyup)="doSearch()">&nbsp;
            <button type="button" class="btn btn-primary" name="btnSearch" (click)="doSearch()"><fa-icon [icon]="faSearch"></fa-icon> Search</button>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="tableFixHead">
        <table class="table table-striped table-bordered">
            <thead class="table-header">
                <tr>
                    <th style="text-align: center;">
                        <input type="checkbox" id="allCheckbox" name="allCheckbox" class="checkbox">
                    </th>
                    <th scope="col" (click)="sortByLocation()">Location</th>
                    <th scope="col" (click)="sortByBinType()">Model</th>
                    <th scope="col" (click)="sortByDeviceType()">Type</th>
                    <th scope="col" (click)="sortByContentType()">Content</th>
                    <th scope="col"><fa-icon [icon]="faBinAlt"></fa-icon></th>
                    <th scope="col" (click)="sortByBinLevel()">Bin Level</th>
                    <th scope="col" (click)="sortByBinLevelBC()">Level B.C.</th>
                    <th scope="col" (click)="sortByNoFlapOpenings()">No. Flap Openings</th>
                    <th scope="col" (click)="sortByBatteryVoltage()">Batt. Vol.</th>
                    <th scope="col" (click)="sortByTemperature()">Temp. (C)</th>
                    <th scope="col" (click)="sortByNoCompactions()">No. Comp.</th>
                    <th scope="col" title="Battery UVLO">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="1" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>                        
                    </th>
                    <th scope="col" title="Emptied Last Period">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="2" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" title="Battery Over TempLO">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="3" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" title="Bin Locked">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="4" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" title="Bin Full">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="5" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" title="Bin Tilted">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="6" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" title="Service Door Open">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="7" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" title="Flap Stuck Open">
                        <fa-layers>
                            <fa-icon [icon]="faFlag" size="lg"></fa-icon>
                            <fa-layers-text content="8" style="color: white;font-weight: bold" transform="shrink-5 right-3"></fa-layers-text>
                        </fa-layers>
                    </th>
                    <th scope="col" (click)="sortByReadingTime()">Reading Time</th>
                    <th scope="col" (click)="sortByMsgType()" *ngIf="displaySystemColumns">Msg. Type</th>
                    <th scope="col" (click)="sortBySource()" *ngIf="displaySystemColumns">Source</th>
                    <th scope="col" (click)="sortByVoltageReading()" *ngIf="displaySystemColumns">Batt. Vol.</th>
                    <th scope="col" (click)="sortByBinLevel()" *ngIf="displaySystemColumns">Bin Level</th>
                    <th scope="col" (click)="sortByBinLevelBC()" *ngIf="displaySystemColumns">Level B.C.</th>
                    <th scope="col" (click)="sortByRssi()" *ngIf="displaySystemColumns">RSSI</th>
                    <th scope="col" (click)="sortBySrc()" *ngIf="displaySystemColumns">SRC</th>
                    <th scope="col" (click)="sortBySnr()" *ngIf="displaySystemColumns">SNR</th>
                    <th scope="col" (click)="sortByBer()" *ngIf="displaySystemColumns">BER</th>
                    <th scope="col" (click)="sortByRsrq()" *ngIf="displaySystemColumns">RSRQ</th>
                    <th scope="col" (click)="sortByRsrp()" *ngIf="displaySystemColumns">RSRP</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let reading of readings; let i = index" >
                    <td style="text-align: center;">
                        <input type="checkbox" id={{reading.id}} value={{reading.id}} name="select-checkbox" class="checkbox">
                    </td>
                    <td (click)="editUnit(reading.unit.id)">
                        {{ reading.unit.location }}
                    </td>
                    <td (click)="editUnit(reading.unit.id)">
                        {{ reading.unit.binType.name }}
                    </td>
                    <td (click)="editUnit(reading.unit.id)">
                        {{ reading.unit.deviceType.name }}
                    </td>
                    <td (click)="editUnit(reading.unit.id)">
                        {{ reading.unit.contentType.name }}
                    </td>
                    <td (click)="editUnit(reading.unit.id)" style="padding-left: 5px; padding-right: 5px;">
                        <fa-icon [icon]="faBinAlt" [styles]="{'color': '#2b8f17'}" *ngIf="reading.binLevelStatus === 1"></fa-icon>
                        <fa-icon [icon]="faBinAlt" [styles]="{'color': '#fc8804'}" *ngIf="reading.binLevelStatus === 2"></fa-icon>
                        <fa-icon [icon]="faBinAlt" [styles]="{'color': '#da291c'}" *ngIf="reading.binLevelStatus === 3"></fa-icon>
                    </td>
                    <td (click)="unitReading(reading.unit.id)">
                        {{ reading.binLevelPercent }} % <span title="src < 9 - reading unrealible" *ngIf="reading.unit.deviceType.id === 1 && reading.src < 9"> *</span>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 1">-</td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 2">
                        {{ reading.binLevelBCPercent }} %
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 1">-</td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 2">
                        {{ reading.noFlapOpenings }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 1">-</td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 2">
                        {{ reading.batteryVoltage | number : '1.2-2' }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)">
                        {{ reading.temperature }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 1">-</td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="reading.unit.deviceType.id === 2">
                        {{ reading.noCompactions }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Battery UVLO">
                        <input type="checkbox" ng-checked="reading.batteryUVLO" [(ngModel)]="reading.batteryUVLO" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Bin Emptied Last Period">
                        <input type="checkbox" ng-checked="reading.binEmpiedLastPeriod" [(ngModel)]="reading.binEmpiedLastPeriod" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Battery Over Temp. LO">
                        <input type="checkbox" ng-checked="reading.batteryOverTempLO" [(ngModel)]="reading.batteryOverTempLO" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Bin Locked">
                        <input type="checkbox" ng-checked="reading.binLocked" [(ngModel)]="reading.binLocked" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Bin Full">
                        <input type="checkbox" ng-checked="reading.binFull" [(ngModel)]="reading.binFull" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Bin Tilted">
                        <input type="checkbox" ng-checked="reading.binTilted" [(ngModel)]="reading.binTilted" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Service Door Open">
                        <input type="checkbox" ng-checked="reading.serviceDoorOpen" [(ngModel)]="reading.serviceDoorOpen" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)" title="Flap Stuck Open">
                        <input type="checkbox" ng-checked="reading.flapStuckOpen" [(ngModel)]="reading.flapStuckOpen" class="checkbox" disabled>
                    </td>
                    <td (click)="unitReading(reading.unit.id)">
                        {{ reading.readingDateTimeStr }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.msgType }}
                    </td>
                    <td *ngIf="displaySystemColumns">
                        {{ reading.source }}
                    </td>
                    <td *ngIf="displaySystemColumns">
                        {{ reading.batteryVoltageReading }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.binLevel }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns && reading.unit.deviceType.id === 1">-</td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns && reading.unit.deviceType.id === 2">
                        {{ reading.binLevelBC }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.rssi }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.src }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.snr }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.ber }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.rsrq }}
                    </td>
                    <td (click)="unitReading(reading.unit.id)" *ngIf="displaySystemColumns">
                        {{ reading.rsrp }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="spacer"></div>
        <div class="row nogutters">      
            <div class="col text-right">
                <button type="button" class="btn btn-primary"><fa-icon [icon]="faFilePdf" class="fa-1x"></fa-icon>   PDF Export</button>
                &nbsp;
                <button type="button" class="btn btn-primary"><fa-icon [icon]="faFileExcel"></fa-icon> Excel Export</button>
            </div>
        </div>
    </div>
</div>

