.checkbox {
    width: 20px;
    height: 15px;
}

.tableFixHead { 
    overflow-y: auto; 
    height: 148px; 
}
.tableFixHead1Line { 
    overflow-y: auto; 
    height: 3opx; 
}

.tableFixHead thead th { 
    position: sticky; top: 0;
}

table { 
    border-collapse: collapse; 
    width: 100%; 
}
th { 
    background:darkgrey; 
    text-align: center;
    padding: 2px;
}
td {
    text-align: center;
    padding: 1px;
}

