/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */
h1 {
    color: #369;
    font-family: serif, sans-serif, Verdana;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: serif, sans-serif, Verdana;
    font-weight: lighter;
  }
body {
    margin: 2em;
}
body, input[type="text"], button {
    color: #333;
    font-family: serif, sans-serif, Verdana;
    font-size: 14px;
    font-weight: 400;
}
/* everywhere else */
* {
    font-family: serif, sans-serif, Verdana;
  }

body {
    padding-top: 56px;
    overflow: hidden;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    overflow-y: auto;
    padding: 56px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

.header {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #999999;
    padding: 10px;
}
.spacer {
    height: 20px;
}

.table-header {
    background-color: #bcbcbc;
}