/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Application-wide Styles */
h1 {
    color: #369;
    font-family: serif, sans-serif, Verdana;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: serif, sans-serif, Verdana;
    font-weight: lighter;
  }

body, input[type="text"], select, button {
    color: #333;
    font-family: serif, sans-serif, Verdana;
    font-size: 14px;
    font-weight: 400;
}
/* everywhere else */
* {
    font-family: serif, sans-serif, Verdana;
  }

body {
    overflow:hidden;
    height:100%;
    width:100%;
}

#header {
    height: 3em;
    position:absolute; 
    top:0px; 
    left:0px; 
    height:3em; 
    right:0px;
    background-color:whitesmoke;
}

.mainContent {
    position:absolute; 
    top:3em; 
    bottom:4em; 
    left:0px; 
    right:0px; 
    overflow:auto;
    background-color:whitesmoke;
}
#footer {
    position:absolute; 
    bottom:0px; 
    height:4em; 
    left:0px; 
    right:0px; 
    background-color:whitesmoke;
}


.form-header {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #6295ac;
    padding: 10px;
}

.spacer {
    height: 20px;
}

.table-header {
    background-color: #bcbcbc;
}

select, input {
    width:220px;
    height:25px;
}

.errorMessage {
    padding: 5px;
    color: #da291c;
    font-weight: bold;
}

.waitingDialog {
    height: 300px;
    width: 300px;
}

.fontAwesome {
    font-family: FontAwesome;
}