/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Application-wide Styles */
h1 {
    color: #369;
    font-family: serif, sans-serif, Verdana;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: serif, sans-serif, Verdana;
    font-weight: lighter;
  }
body {
    margin: 2em;
}
body, input[type="text"], select, button {
    color: #333;
    font-family: serif, sans-serif, Verdana;
    font-size: 14px;
    font-weight: 400;
}
/* everywhere else */
* {
    font-family: serif, sans-serif, Verdana;
  }

body {
    padding-top: 56px;
    overflow: hidden;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    overflow-y: auto;
    padding: 56px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

header {
    background-color: #da291c;
}

footer {
    padding: 5px;
    background-color: #da291c;
    color: wheat;
    text-align: center;
}

.form-header {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #6295ac;
    padding: 10px;
}

.spacer {
    height: 20px;
}

.table-header {
    background-color: #bcbcbc;
}

select, input {
    width:220px;
    height:25px;
}

.errorMessage {
    padding: 5px;
    color: #da291c;
    font-weight: bold;
}

.waitingDialog {
    height: 300px;
    width: 300px;
}